* {
    padding: 0px;
    margin: 0px;
}

.negrito {
    font-weight: bold;
}

.tachado {
    text-decoration: line-through;
}

.sublinhado {
    text-decoration: underline;
}

.italico {
    font-style: italic;
}
